a:hover{
  color: red;
}

body{
  background-color: #ddf3f5;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 50%;
}

/************************************** selectores classes **************/
.perfil{
  border-radius: 10%
}
